
/*header*/
/*header ul*/
.H1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #573824 ;
}

/*header li*/
#H2{
  display: inline-block;
}

#H2 a{
  display: block;
  padding:8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;

}

#H2 a:hover {
    background-color: #855F47 ;
    height: 66px;
    text-decoration: none;
    color: white;
}

<<<<<<< HEAD
/* Vertical Navigation*/
nav.vertical {
   float: left;
   width: 12%;
   margin-top: -60px;

=======
#H2 a:hover{
  
>>>>>>> 3d6984043dd21dd9fee03e05fdbc6a9dd4949dd4
}
 /*end header li*/
/*end header*/


<<<<<<< HEAD
nav.vertical li.lTitle {
   font-size: 0.9em;
   margin-top: 25px;
   margin-bottom: 12px;
   color: black;
}

nav.vertical li {
   display: block;
   margin-bottom: 4px;
}

nav.vertical li a {
   display:block;
   width: 90%;
   font-size: 0.8em;
   margin-left: -10px;
   color: black;
=======


/*verticalL*/
/* vertical ul*/
.vertical{
  float: left;
    margin-right: 10px;
    width: 150px;
>>>>>>> 3d6984043dd21dd9fee03e05fdbc6a9dd4949dd4
}
 .V1 {
   list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #573824;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/*vertical li*/
.Vl a{

  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;

  }
  .Vl a:hover {
      background-color: #855F47 ;
      height: 66px;
      text-decoration: none;
      color: white;
  }
   .Vt {
    font-size: 19px;
    color: white;
    text-align: center;
  }

p {
  text-align: center;




<<<<<<< HEAD
}


=======
>>>>>>> 3d6984043dd21dd9fee03e05fdbc6a9dd4949dd4

/*end vertical*/








footer {
   clear: left;
   padding-top: 10px;
}

footer address {
   font-size: 0.95em;
   font-style: normal;
   text-align: center;
   color: white;
   background-color: #573824 ;
   margin: 85px 0px;
}
